body {
    background-color: #212529;
    color: #28a745;
    text-align: center;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 90vh;
}

.form-control {
    background-color: #343a40;
    color: #28a745;
    max-width: 300px;
    margin: auto;
}

.btn-primary {
    background-color: #28a745;
    border-color: #28a745;
    margin-top: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.btn-primary:hover {
    background-color: #218838;
    border-color: #1e7e34;
}

.btn-primary:focus, .btn-primary.focus {
    box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.5);
}

.logo {
    width: 150px;
    height: 150px;
    margin: 20px;
    margin-top: -301px;
}

p.email {
    background-color: #28a745;
    color: white;
    padding: 10px;
    border-radius: 5px;
    font-size: 20px;
    margin: 20px auto;
    min-width: 200px;
    max-width: 30%;
    word-wrap: break-word;
}
